body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outer{
    width: 1903px;
    height: 195px;
    background-color: #f2f2f2;
    padding: 64px 32px;
}
#outer>#inner>div:nth-child(1){
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 8px;
    color: #262626;

}
#outer>#inner>div:nth-child(2){
    color: #6b6b6b;
    margin-bottom: 32px;
    font-weight: 400;


}
#search{
    background-color: #ffffff;
    float: left;
    width: 740px;
    padding-left: 55px;
    margin-left: 50px;
    border-left-color:      white;


}
#searchbutton,#search{
    height: 55px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width:5px ;
    border-right-width: 1px;
    border-left-width: 5px;

    border-top-color: rgb(255, 181, 43);
    border-bottom-color:      rgb(255, 181, 43);
    border-right-color: rgb(255, 181, 43);
    border-left-color: rgb(255, 181, 43);
    border-radius: 5px;

    
    

}
#searchbutton{
    width: 100px;
    background-color: #0071c2;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;



    list-style: 24px;

}
#searchsymbol{
    width: 20px;
    height: 40px;
    background-color: white;
    float: left;
    margin-right: -50px;
    padding-left: 40px;
    padding-top: 15px;
    border-radius: 5px;
  

}
#inner{
    margin-left: 20%;
}

#istanbul{
    margin-left: 52%;
}

.dubai{
    padding-right: 16px;
}


.outerblock{
    position: relative;
}
.outerblock>a> img{
    width: 260px;
}

.card_header{
    position: absolute;
    margin-top: -80px;
    margin-left: 20px;
   
    
}
.outerblock>a> img{
    width: 370px;
}

.card_header >p{
    margin-top: -15px;
}
.card_title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}
.card_subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;

}
.dubai{
    float: left;
}
#middleblock{
    margin-left: 340px;
}
#middleblock>h3{
    margin-left: 35px;
}
#signinblock{
    width: 59%;
    height: 150px;
    border: 1px solid rgb(171, 179, 187);
    padding-left: 20px;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
}
#but{
    height: 40px;
    width: 8%;
    border-color: #0071c2;
    color:  #0071c2;
}
#signinblock>h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-right: 32px;
    color:#262626
    
}
#signinblock>p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hr{
    width: 70%;
}

#covered > header >h2{
    color: #262626;
    font-weight: 500;
    margin-left: 2.0%;

}
.exptopattractions>div:nth-child(2),.exptopattractions>div:nth-child(3){
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color:#262626;
}
.exptopattractions>div:nth-child(3){
    font-weight: 400;
}
#covered > div>ul{
    display: flex;
    gap: 30px;
}
#covered{
    margin-left: 18%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#findthings>div:nth-child(1){
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
#findthings>div:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
#findthings{
    margin-left: 20%;
}


.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
    
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  #images{
      width: 274px;
  }
  .img-hover-zoom{
      float: left;
      margin-right: 30px;
  }
  .card_header >p{
    margin-top: -15px;
}
.card_title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}
.card_subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: white;

}
#EuropeSection,#NorthAmerica{
    margin-left: 20%;
    
}


.grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;

  }
  .selected{
      line-height: 20px;
      font-weight: 500;
      font-size: 14px;
  }